<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.application.abdur_rohman.dokter_lele">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_foregound"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.application.abdur_rohman.dokter_lele.SplashScreen"
            android:label="@string/app_name"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.application.abdur_rohman.dokter_lele.MainMenu"
            android:theme="@style/NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.application.abdur_rohman.dokter_lele.DaftarGejala"
            android:label="@string/daftar_gejala"
            android:parentActivityName="com.application.abdur_rohman.dokter_lele.MainMenu">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.application.abdur_rohman.dokter_lele.DaftarPenyakit"
            android:label="@string/daftar_penyakit"
            android:parentActivityName="com.application.abdur_rohman.dokter_lele.MainMenu">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.application.abdur_rohman.dokter_lele.DaftarPenyakitMiripPertama">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.application.abdur_rohman.dokter_lele.DaftarPenyakitMiripKedua">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.application.abdur_rohman.dokter_lele.DaftarPenyakitMiripKetiga">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.application.abdur_rohman.dokter_lele.G01"
            android:parentActivityName="com.application.abdur_rohman.dokter_lele.MainMenu">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.application.abdur_rohman.dokter_lele.DaftarPenyakitMiripKeempat">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.application.abdur_rohman.dokter_lele.DaftarPenyakitMiripKelima">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.application.abdur_rohman.dokter_lele.G01_1"
            android:parentActivityName="com.application.abdur_rohman.dokter_lele.MainMenu">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.application.abdur_rohman.dokter_lele.G01_2"
            android:parentActivityName="com.application.abdur_rohman.dokter_lele.MainMenu">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.application.abdur_rohman.dokter_lele.G02"
            android:parentActivityName="com.application.abdur_rohman.dokter_lele.MainMenu">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.application.abdur_rohman.dokter_lele.G02_1"
            android:parentActivityName="com.application.abdur_rohman.dokter_lele.MainMenu">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.application.abdur_rohman.dokter_lele.G02_2"
            android:parentActivityName="com.application.abdur_rohman.dokter_lele.MainMenu">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.application.abdur_rohman.dokter_lele.G03"
            android:parentActivityName="com.application.abdur_rohman.dokter_lele.MainMenu">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.application.abdur_rohman.dokter_lele.G04"
            android:parentActivityName="com.application.abdur_rohman.dokter_lele.MainMenu">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.application.abdur_rohman.dokter_lele.G04_1"
            android:parentActivityName="com.application.abdur_rohman.dokter_lele.MainMenu">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.application.abdur_rohman.dokter_lele.G04_2"
            android:parentActivityName="com.application.abdur_rohman.dokter_lele.MainMenu">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.application.abdur_rohman.dokter_lele.G05"
            android:parentActivityName="com.application.abdur_rohman.dokter_lele.MainMenu">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.application.abdur_rohman.dokter_lele.G05_1"
            android:parentActivityName="com.application.abdur_rohman.dokter_lele.MainMenu">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.application.abdur_rohman.dokter_lele.G06"
            android:parentActivityName="com.application.abdur_rohman.dokter_lele.MainMenu">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.application.abdur_rohman.dokter_lele.G06_1"
            android:parentActivityName="com.application.abdur_rohman.dokter_lele.MainMenu">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.application.abdur_rohman.dokter_lele.G07"
            android:parentActivityName="com.application.abdur_rohman.dokter_lele.MainMenu">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.application.abdur_rohman.dokter_lele.G08"
            android:parentActivityName="com.application.abdur_rohman.dokter_lele.MainMenu">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.application.abdur_rohman.dokter_lele.G09"
            android:parentActivityName="com.application.abdur_rohman.dokter_lele.MainMenu">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.application.abdur_rohman.dokter_lele.G10"
            android:parentActivityName="com.application.abdur_rohman.dokter_lele.MainMenu">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.application.abdur_rohman.dokter_lele.G11"
            android:parentActivityName="com.application.abdur_rohman.dokter_lele.MainMenu">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.application.abdur_rohman.dokter_lele.G12"
            android:parentActivityName="com.application.abdur_rohman.dokter_lele.MainMenu">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.application.abdur_rohman.dokter_lele.G13"
            android:parentActivityName="com.application.abdur_rohman.dokter_lele.MainMenu">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.application.abdur_rohman.dokter_lele.G14"
            android:parentActivityName="com.application.abdur_rohman.dokter_lele.MainMenu">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.application.abdur_rohman.dokter_lele.G15"
            android:parentActivityName="com.application.abdur_rohman.dokter_lele.MainMenu">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.application.abdur_rohman.dokter_lele.G16"
            android:parentActivityName="com.application.abdur_rohman.dokter_lele.MainMenu">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.application.abdur_rohman.dokter_lele.G17"
            android:parentActivityName="com.application.abdur_rohman.dokter_lele.MainMenu">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.application.abdur_rohman.dokter_lele.G18"
            android:parentActivityName="com.application.abdur_rohman.dokter_lele.MainMenu">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.application.abdur_rohman.dokter_lele.G19"
            android:parentActivityName="com.application.abdur_rohman.dokter_lele.MainMenu">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.application.abdur_rohman.dokter_lele.G19_1"
            android:parentActivityName="com.application.abdur_rohman.dokter_lele.MainMenu">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.application.abdur_rohman.dokter_lele.G20"
            android:parentActivityName="com.application.abdur_rohman.dokter_lele.MainMenu">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.application.abdur_rohman.dokter_lele.G21"
            android:parentActivityName="com.application.abdur_rohman.dokter_lele.MainMenu">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.application.abdur_rohman.dokter_lele.G22"
            android:parentActivityName="com.application.abdur_rohman.dokter_lele.MainMenu">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.application.abdur_rohman.dokter_lele.P01"
            android:label="@string/hasil">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.application.abdur_rohman.dokter_lele.P02"
            android:label="@string/hasil">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.application.abdur_rohman.dokter_lele.P03"
            android:label="@string/hasil">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.application.abdur_rohman.dokter_lele.P04"
            android:label="@string/hasil">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.application.abdur_rohman.dokter_lele.P05"
            android:label="@string/hasil">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.application.abdur_rohman.dokter_lele.P06"
            android:label="@string/hasil">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.application.abdur_rohman.dokter_lele.P07"
            android:label="@string/hasil">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.application.abdur_rohman.dokter_lele.P08"
            android:label="@string/hasil">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.application.abdur_rohman.dokter_lele.P09"
            android:label="@string/hasil">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.application.abdur_rohman.dokter_lele.P10"
            android:label="@string/hasil">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.application.abdur_rohman.dokter_lele.P11"
            android:label="@string/hasil">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.application.abdur_rohman.dokter_lele.P01_SplashScreen"
            android:label="Hasil Diagnosis"
            android:theme="@style/NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.application.abdur_rohman.dokter_lele.P02_SplashScreen"
            android:label="Hasil Diagnosis"
            android:theme="@style/NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.application.abdur_rohman.dokter_lele.P03_SplashScreen"
            android:label="Hasil Diagnosis"
            android:theme="@style/NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.application.abdur_rohman.dokter_lele.P04_SplashScreen"
            android:label="Hasil Diagnosis"
            android:theme="@style/NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.application.abdur_rohman.dokter_lele.P05_SplashScreen"
            android:label="Hasil Diagnosis"
            android:theme="@style/NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.application.abdur_rohman.dokter_lele.P06_SplashScreen"
            android:label="Hasil Diagnosis"
            android:theme="@style/NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.application.abdur_rohman.dokter_lele.P07_SplashScreen"
            android:label="Hasil Diagnosis"
            android:theme="@style/NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.application.abdur_rohman.dokter_lele.P08_SplashScreen"
            android:label="Hasil Diagnosis"
            android:theme="@style/NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.application.abdur_rohman.dokter_lele.P09_SplashScreen"
            android:label="Hasil Diagnosis"
            android:theme="@style/NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.application.abdur_rohman.dokter_lele.P10_SplashScreen"
            android:label="Hasil Diagnosis"
            android:theme="@style/NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.application.abdur_rohman.dokter_lele.P11_SplashScreen"
            android:label="Hasil Diagnosis"
            android:theme="@style/NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.application.abdur_rohman.dokter_lele.InfoPenyakit"
            android:label="Info Detail Penyakit">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.application.abdur_rohman.dokter_lele.InfoPenyakitMirip"
            android:label="Info Detail Penyakit yang Mirip">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.application.abdur_rohman.dokter_lele.RiwayatPenyakiIkanLele"
            android:label="@string/daftar_riwayat"
            android:parentActivityName="com.application.abdur_rohman.dokter_lele.MainMenu">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.application.abdur_rohman.dokter_lele.LihatPenyakit.Pseudomonas_hydrophylla">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.application.abdur_rohman.dokter_lele.LihatPenyakit.Aeromonas_hydrophylla">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.application.abdur_rohman.dokter_lele.LihatPenyakit.Aeromonas_punctata">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.application.abdur_rohman.dokter_lele.LihatPenyakit.Tuberculosis">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.application.abdur_rohman.dokter_lele.LihatPenyakit.Trematoda">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.application.abdur_rohman.dokter_lele.LihatPenyakit.Bintik_putih">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.application.abdur_rohman.dokter_lele.LihatPenyakit.Columnaris">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.application.abdur_rohman.dokter_lele.LihatPenyakit.Edwardsiella">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.application.abdur_rohman.dokter_lele.LihatPenyakit.Gatal">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.application.abdur_rohman.dokter_lele.LihatPenyakit.Jamur_putih">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.application.abdur_rohman.dokter_lele.LihatPenyakit.Lernea_sp">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.application.abdur_rohman.dokter_lele.MainActivity"
            android:theme="@style/NoActionBar"/>
    </application>

</manifest>